.basket {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vh;
    height: 100vh;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    overflow-y: auto;
    padding: 20px;
  }
  
.basket-hide{
  display: none;
}

  .nav-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cart-item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  