.featured__center {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 0;
  }
  
  @media only screen and (max-width: 996px) {
    .featured__center {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media only screen and (max-width: 768px) {
    .featured__center {
      grid-template-columns: 1fr 1fr;
    }
  }